<h1 class="header">Hive13 Lazer Manager</h1>
<% if user_signed_in? and not current_user.username %>
    <br><br>
    <div class=alert>
      We see you do not have a username set.  This can lead to your email address being leaked when using the system.  Go <%= link_to 'here', edit_user_registration_path %> to fix it.
    </div>
<% end %>
<% if user_signed_in? %>
<div id="toplinkPan">
  <div id="toplinkfirstPan">
<%= link_to '', new_time_balance_path %>
  </div>
  <div id="toplinksecondPan">
    <%=link_to '', home_transfer_setup_path %>
  </div>
  <div id="toplinkthirdPan">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZJ8V5HJQVT5KN">
<input type="image" src="/assets/buy-normal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>

  </div>
</div>
<div id="bodyPan">
<br>
<h2>Bitcoin Payment</h2>
<br>
Rather pay with bitcoin?
<span class="mtgox" data-id="14f773cc-cd78-4df9-9e23-3bcf87df828f" data-amount="30" data-currency="USD"><a href="https://payment.mtgox.com/14f773cc-cd78-4df9-9e23-3bcf87df828f"><img src="https://payment.mtgox.com/img/mtgox-checkout.png" border="0" /></a></span>
<![if !IE]><script type="text/javascript" src="https://payment.mtgox.com/js/button.min.js"></script><![endif]>

<h2>More Info?</h2>
<%=link_to 'Schedule Laser Time', home_schedule_path %>
<% if not current_user.member %>
Become a member of Hive13 today! <%=link_to "Membership Details", "http://www.hive13.org/?page_id=13" %>
<% end %>
</div>
<div id="bodybottomPan">&nbsp;</div>
<div id="bulbUsage">
  Laser Bulb usage in minutes
  <div id="odometerDiv" style="width:100%"></div>
</div>
<script type="text/javascript">
                  //<![CDATA[
                        var n = <%= @total_spent-@last_spent%>;
                        var myOdometer;
                        var div = document.getElementById("odometerDiv")

                        myOdometer = new Odometer(div, {value: n, digitHeight:20});
                        update();

                        function update () {
                                n=n+0.5
                                if(n <= <%= @total_spent %>) {
                                  myOdometer.set(n);
                                  setTimeout("update()", 100);
                                }
                        }
                //]]>
</script>
<% end %>
