You currently have <b><%= current_user.balance %></b> minutes

<%= form_for(@time_balance, :url => time_balances_spend_path) do |f| %>
  <% if @time_balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_balance.errors.count, "error") %> prohibited this time_balance from being saved:</h2>

      <ul>
      <% @time_balance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :minutes %><br />
    <%= f.number_field :minutes %>
  </div>
  <div class="actions">
    <%= f.submit 'Spend Minutes'%>
  </div>
<% end %>
