<center>
You have <font color=green><%=current_user.free_balance %> free</font> minutes remaining.
<% if current_user.last_free_minute and current_user.free_balance > 0 %>
 (<%= current_user.last_free_minute.expire_on %>)
<% end %>
<br>
You have <b><%= current_user.full_balance %></b> total minutes

<%= form_for(@time_balance, :url => time_balances_spend_path) do |f| %>
  <% if @time_balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_balance.errors.count, "error") %> prohibited this time_balance from being saved:</h2>

      <ul>
      <% @time_balance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>
        <div class="field">
          <%= f.label :minutes %><br />
          <%= f.number_field :minutes, {:value => 1} %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :notes %> (Optional)<br />
          <%= f.text_field :notes %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <div class="actions">
          <%= f.submit 'Spend Minutes'%>
        </div>
      </td>
    </tr>
  </table>
</center>
<% end %>
