<h1>Listing Time Balance Transaction logs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Minutes</th>
    <th>Submitted by</th>
    <th>Transaction time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_balances.each do |time_balance| %>
  <tr>
    <td><%= time_balance.user.email %></td>
    <td><%= time_balance.minutes %></td>
    <td><%= User.find(time_balance.submitted_by_id).email %></td>
    <td><%= time_balance.created_at %></td>
    <% if can? :manage, :all %>
      <td><%= link_to 'Show', time_balance %></td>
      <td><%= link_to 'Edit', edit_time_balance_path(time_balance) %></td>
      <td><%= link_to 'Destroy', time_balance, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Spend Minutes', new_time_balance_path %> |
<%= link_to 'Home', home_index_path %>
