<%= link_to home_index_path do %>
  <h1 class="header">Time Balance</h1>
<% end %>

<div id="bodyPanWide">
<h2>Transaction logs</h2>

<table id="wide">
  <tr>
    <th>User</th>
    <th>Minutes</th>
    <th>Submitted by</th>
    <th>Transaction time</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_balances.each do |time_balance| %>
  <tr class="<%=cycle('odd', 'even') %>">
    <td><%= time_balance.user.email %></td>
    <td><%= time_balance.minutes %></td>
    <td><%= User.find(time_balance.submitted_by_id).name %></td>
    <td><%= time_balance.created_at %></td>
    <td><%= time_balance.notes %></td>
  </tr>
<% end %>
</table>

<%= paginate @time_balances %>

<br />

<%= link_to 'Spend Minutes', new_time_balance_path %> |
<%= link_to 'Home', home_index_path %>

</div>

