<%= link_to home_index_path do %>
  <h1 class="header">Time Balance</h1>
<% end %>

<div id="bodyPanWide">
<% if @target_id and can? :manage, :all %>
  <% target = User.find(@target_id) %>
  <% if target %>
    <h2>Transaction logs for <%= target.name %></h2>
  <% end %>
<% else %>
  <h2>Transaction logs</h2>
<% end %>

<table id="wide">
  <tr>
    <th>User</th>
    <th>Minutes</th>
    <th>Submitted by</th>
    <th>Transaction time</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_balances.each do |time_balance| %>
  <tr class="<%=cycle('odd', 'even') %>">
    <td id=email><%= time_balance.user.email %></td>
    <td id=minutes><%= time_balance.minutes %></td>
    <td id=submitted_by><%= User.find(time_balance.submitted_by_id).name %></td>
    <td id=created_at><%= time_tag time_balance.created_at %></td>
    <td id=notes><%= time_balance.notes %></td>
  </tr>
<% end %>
</table>

<%= paginate @time_balances %>

<br />

<%= link_to 'Spend Minutes', new_time_balance_path %> |
<%= link_to 'Home', home_index_path %>

</div>

