<%= link_to home_index_path do %>
  <h1 class="header"></h1>
<% end %>
<div id="bodyPan">
<h2>Receipt</h2>
<p>
  <b>User:</b>
  <%= @time_balance.user.email %>
</p>

<p>
  <% if @time_balance.minutes < 0 %>
    <b>Minutes spent:</b>
    <%= @time_balance.minutes.abs %>
  <% else %>
     <b>Minutes added:</b>
     <%= @time_balance.minutes %>
  <% end %>
</p>
<p>
  <b>Notes:</b>
  <%= @time_balance.notes %>
</p>

<%= link_to 'Back', time_balances_path %> | 
<%= link_to 'Home', home_index_path %>
</div>
<div id="bodybottomPan"></div>
