<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @time_balance.user_id %>
</p>

<p>
  <b>Minutes:</b>
  <%= @time_balance.minutes %>
</p>

<p>
  <b>Submitted by:</b>
  <%= @time_balance.submitted_by_id %>
</p>

<p>
  <b>Transaction time:</b>
  <%= @time_balance.transaction_time %>
</p>


<%= link_to 'Edit', edit_time_balance_path(@time_balance) %> |
<%= link_to 'Back', time_balances_path %>
